#weather section.weather {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#weather .locationLabel {
    font-weight: var(--font-weight-bold);
}
#weather .cardStyle {
	display: flex;
	align-items: center;
	gap: var(--spacing-md);
	background: var(--color-neutral);
	padding: var(--spacing-xx-sm);
	border-radius: var(--size-border-radius-large);
	box-shadow: var(--box-shadow-option-1);
    margin: var(--spacing-md);
    max-width: 25ch;
}

#weather input {
    margin-right: var(--spacing-x-sm);
}

#weather .main {
	display: flex;
	flex-direction: column;
	align-items: center;
}




/* ul.packing-item {
	list-style: none;
	padding: 0;
    max-width: 66ch;
}

ul.packing-item li + li {
	margin-top: 1rem;
}

ul.packing-item li {
	display: flex;
	align-items: center;
	gap: 1rem;
	background: var(--color-neutral);
	padding: 1.5rem;
	border-radius: 1rem;
	width: calc(100% - 2rem);
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
}

ul.packing-item li .item-name {
    font-weight: var(--font-weight-bold);
}

ul.packing-item span:not(.item-name) {
	font-size: var(--font-size-xxx-large);
	font-weight: var(--font-weight-bold);
	width: 2em;
	height: 2em;
	background: var(--color-primary);
	flex: 0 0 auto;
	border-radius: var(--size-border-radius-full);
	color: var(--color-neutral);
	display: flex;
	justify-content: center;
	align-items: center;
} */