#weather section.weather {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#weather .locationLabel {
    font-weight: var(--font-weight-bold);
}
#weather .cardStyle {
	display: flex;
	align-items: center;
	gap: var(--spacing-md);
	background: var(--color-neutral);
	padding: var(--spacing-xx-sm);
	border-radius: var(--size-border-radius-large);
	box-shadow: var(--box-shadow-option-1);
    margin: var(--spacing-md);
    max-width: 25ch;
}

#weather input {
    margin-right: var(--spacing-x-sm);
}

#weather .main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#display_img {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#display_info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#img_Drizzle, #img_Thunderstorm, #img_Clouds {
	background-color: var(--color-weather-1);
}

#img_Clear{
	background-color: var(--color-weather-2);
}

.display_main {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	align-items: center;
}

.display_img img {
	width: 100%;
	min-width: 200px;
	max-width: 400px;
}

.display_img {
	flex-grow: 2;
}