
/* ******************************************************************* */
/* *********************** main ***************************** */
/* ******************************************************************* */
  main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: var(--color-neutral);
    color: var(--color-text);
  }