
/* ******************************************************************* */
/* *********************** main ***************************** */
/* ******************************************************************* */
  main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
   /* background: var(--color-neutral);*/
    color: var(--color-text);
    background-image: url("../../assets/images/background.svg");
    background-repeat: repeat;
    background-size: 30%;
  }