

#ticket-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
}

.text-danger {
}

#ticket-form .input-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
}

#ticket-form .input-area {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-primary);
    background-clip: padding-box;
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--size-border-radius-small);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 50%;
}

#ticket-form span {
    color: var(--color-alert);
}

#ticket-form .input-area.grow {
    flex-grow: 1;
}

#ticket-form .input-area.grow input {
    width: 100%;
}

#ticket-form label {
    display: inline-block;
    padding-right: .5rem;
    width: 100%;
}

#ticket-form input {
    margin: 0;
    font-family: inherit;
    margin-bottom: var(--spacing-sm);
    display: block;
    width: 100%;
    padding: var(--spacing-sm);
    font-weight: 400;

    color: var(--color-primary);
    background-color: var(--color-neutral);
    background-clip: padding-box;
    border: 1px solid var(--color-neutral-dark);
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--size-border-radius-small);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#ticket-form .payment-type {
    padding: var(--spacing-sm);
    display: flex;
    justify-content: flex-end;
}

#ticket-form fieldset {
    border-width: 0;
}


/* *********************************** */
/* ********** MEDIA QUERIES ************ */
/* *********************************** */

  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 

    #ticket-form {
        width: 100%;
        align-items: center;
    }

    #ticket-form fieldset {
        width: inherit;

    }

    #ticket-form .input-container {
        flex-direction: column;
        width: 100%;
    }

    #ticket-form .input-area {
        width: 100%;
    }

  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {
   }
  
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) { 

  }
  
  /* Large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px) {

  }
  
  /* X-Large devices (large desktops, less than 1400px) */
  @media (max-width: 1399.98px) { 

  }



