


section.ticket-checkout > h4 {
    margin-top: 0;
    padding-top: 0;
}

.ticket-checkout h4 {
    padding-bottom: 0;
    border-bottom: 1px solid var(--color-primary);
}

#ticket-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
}

.ticket-checkout > h3 {
    display: flex;
    justify-content: center;
    width: 100%;
}


#ticket-form .input-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    padding-top: var(--spacing-lg);
}

#ticket-form .input-area {
    display: block;
    padding: var(--spacing-sm);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-primary);
    background-clip: padding-box;
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--size-border-radius-small);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 50%;
}

#ticket-form span {
    color: var(--color-alert);
}

#ticket-form .input-area.grow {
    flex-grow: 1;
}

#ticket-form .input-area.grow input {
    width: 100%;
}

#ticket-form label {
    display: inline-block;
    padding-right: var(--spacing-x-sm);
    width: 100%;
}

#ticket-form input:not([type=radio]):not([type=checkbox]) {
    margin: 0;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: var(--spacing-sm);
    color: var(--color-primary);
    background-color: var(--color-neutral);
    background-clip: padding-box;
    border: 1px solid var(--color-neutral-dark);
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--size-border-radius-small);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#ticket-form .payment-type {
    padding: var(--spacing-sm);
    display: flex;
    justify-content: flex-end;
}

#ticket-form fieldset {
    /*border: 1px solid var(--color-primary);
    border-radius: var(--size-border-radius-small);*/
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
    width: 100%;
    border-width: 0;
}

#ticket-form select {
    outline: 0;
    width: 100%;
    padding: var(--spacing-sm);
    color: var(--color-primary);
    cursor: pointer;
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: var(--size-border-radius-small);
}

#ticket-form #radio input[type=radio] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    -moz-appearance: none;
         appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  
  #ticket-form #radio input[type=radio]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  #ticket-form #radio input[type=radio]:checked::before {
    transform: scale(1);
  }
  
  #ticket-form #radio input[type=radio]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }


  .invalid-feedback {
    font-size: var(--font-size-small);
    color: red;
  }

/* *********************************** */
/* ********** MEDIA QUERIES ************ */
/* *********************************** */

  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 

    #ticket-form {
        width: 100%;
        align-items: center;
    }

    #ticket-form fieldset {
        width: inherit;

    }

    #ticket-form .input-container {
        flex-direction: column;
        width: 100%;
    }

    #ticket-form .input-area {
        width: 100%;
    }

  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {
   }
  
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) { 

  }
  
  /* Large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px) {

  }
  
  /* X-Large devices (large desktops, less than 1400px) */
  @media (max-width: 1399.98px) { 

  }



