/* ******************************************************************* */
/* *********************** HERO ***************************** */
/* ******************************************************************* */
/* see hero.css */

/* ******************************************************************* */
/* *********************** TICKETS ***************************** */
/* ******************************************************************* */

#tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background: var(--color-neutral-medium);*/
    padding: var(--spacing-xx-lg);
    padding-top: var(--spacing-xxx-lg);
    width: 100%;
}

#tickets div:first-child {
  width: 100%;
}

.tickets div.subheading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--spacing-x-lg);
    margin-bottom: var(--spacing-xx-lg);
    width: 100%;
    border-width: 0;
}

.tickets div.subheading h5 {
  color: var(--color-secondary);
}

.tickets div.subheading h2 {
  color: var(--color-secondary);
}


.tickets div.tickets_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--spacing-md);
    overflow: hidden;
}

.tickets div.tickets_content article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing-xx-lg);
    max-width: 60ch;
    padding: var(--spacing-xx-lg);
    height: 95%;
    border-radius: var(--size-border-radius-medium);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid var(--color-neutral-medium);
    background-color: var(--color-neutral-light);
}

.tickets div article img {
    width: 100%;
}

.tickets div.tickets_content article div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tickets div article h3 {
  margin-bottom: 0;
  margin-top: var(--spacing-md);
}


/* ******************************************************************* */
/* *********************** PLANNING YOUR ABDUCTION ***************************** */
/* ******************************************************************* */

#pya {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xx-lg);
    background-image: url("../../assets/images/background2.png");
    background-size: cover;
    width: 100%;
    padding-top: var(--spacing-xxx-lg);
}

.pya div.subheading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--spacing-x-lg);
    margin-bottom: var(--spacing-xx-lg);
    width: 100%;
    border-width: 0;
}

.pya div.subheading h5 {
  color: var(--color-neutral-light);
}

.pya div.subheading h2 {
  color: var(--color-neutral);
}

.pya div.subheading p {
  color: var(--color-neutral);
  max-width: 66ch;
}

.pya div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pya div.pya_content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: var(--spacing-md);
  overflow: hidden;
}

.pya div.pya_content article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 28ch;
    padding: var(--spacing-xx-lg);
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid var(--color-neutral-medium);
    border-radius: var(--size-border-radius-medium);
    background-color: var(--color-neutral-light);
}

.pya div.pya_content article div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.pya div.pya_content article h3 {
  margin-bottom: 0;
}

.pya div.pya_content article p {
  flex-grow: 2;
  padding-top: 0;
  margin-top: 0;
}


.pya div.pya_content article div.call-to-action {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;


}

/* ******************************************************************* */
/* *********************** TESTIMONIALS ***************************** */
/* ******************************************************************* */

#testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xx-lg);
    width: 100%;
    /*background: var(--color-neutral-medium);*/
    padding-top: var(--spacing-xxx-lg);
}

.testimonials div.subheading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--spacing-x-lg);
    margin-bottom: var(--spacing-xx-lg);
    width: 100%;
    border-width: 0;
}

.testimonials div.subheading h2 {
  color: var(--color-secondary);
}

.testimonials div.testimonials_content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: var(--spacing-md);
  overflow: hidden;
}

.testimonials div.testimonials_content article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing-xx-lg);
    width: 28ch;
    padding: var(--spacing-xx-lg);
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid var(--color-neutral-medium);
    background-color: var(--color-neutral-light);
}



.testimonials div.testimonials_content article .card_picture img {
  border-radius: 50%;
  max-width: 100px;

}

.testimonials div.testimonials_content article .card_body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.testimonials div.testimonials_content article .card_text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}





/* *********************************** */
  /* ********** FLYING UFO ************ */
  /* *********************************** */
  
  #animation {
    width: 100%;
    height: 0;
    z-index: 1;
  }
  
  #animation div#ufo,
  #animation #ufo img {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  #animation .x {
    -webkit-animation: x 13s linear infinite alternate;
            animation: x 13s linear infinite alternate;
  }
  
  #animation .y {
    -webkit-animation: y 7s linear infinite alternate;
            animation: y 7s linear infinite alternate;
  }
  
  @-webkit-keyframes x {
    100% {
      transform: translateX(calc(100vw - 100px));
    }
  }
  
  @keyframes x {
    100% {
      transform: translateX(calc(100vw - 100px));
    }
  }
  @-webkit-keyframes y {
    100% {
      transform: translateY(calc(100vh - 100px));
    }
  }
  @keyframes y {
    100% {
      transform: translateY(calc(100vh - 100px));
    }
  }


/* *********************************** */
/* ********** MEDIA QUERIES ************ */
/* *********************************** */

  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 

    #hero {
      padding: 2rem;
    }
    .tickets div.tickets_content,
    .pya div.pya_content,
    .testimonials div.testimonials_content {
      grid-template-columns: 1fr;
    }

    footer {
      flex-direction: column;
    }
    footer div:nth-child(2) {
      text-align: center;
    }



     
  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {

    #hero {
    }

    #pya,
    #testimonials {
      width: 100%;
    }

    .tickets div.tickets_content,
    .pya div.pya_content,
    .testimonials div.testimonials_content {
      grid-template-columns: 1fr;
    }

    .pya div.pya_content article,
    .testimonials div.testimonials_content article {
      width: 100%;
    }



    footer {
      flex-direction: column;
    }
    footer div:nth-child(2) {
      text-align: center;
    }

   }
  
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) { 








  }
  
  /* Large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px) {

  }
  
  /* X-Large devices (large desktops, less than 1400px) */
  @media (max-width: 1399.98px) { 

  }