@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Fjalla+One&display=swap');


/* ****************************** */
/* ********** GLOBAL ************ */
/* ****************************** */

* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 16px;
  }
  
  body {
    margin: 0;
    font-family: var(--font-family-body);
    font-weight: var( --font-weight-regular);
    background-color: var( --color-primary);
    line-height: 1.5;
    color: var(--color-text);
    width: 100%;
    height: 100%;
  }


  /* root acts as grid container, place items in it in source order, 
  in a single column that is 100% wide, 
  and size the first and third row according to content, 
  and the middle one takes up all the space that is left". 
  */

  #root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    width: inherit;
    height: 100%;
  }
  
  
  
  /* *********************************** */
  /* ************* HEADINGS ************** */
  /* *********************************** */
  /* using 1.618 Scale - golden ratio */
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-headings);
    font-weight: var( --font-weight-bold);
    margin: 0;
    color: var(--color-primary);
  }
  
  h1 {
    font-size: var(--font-size-h1);
    color: var(--color-neutral);
  }
        
    h2 {
    font-size: var(--font-size-h2);
    color: var(--color-secondary);
    }
        
    h3 {
    font-size: var(--font-size-h3);
    margin-bottom: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    }
    
    h4 {
    font-size: var(--font-size-h4);
    }
    
    h5 {
    font-weight: var( --font-weight-regular);
    font-size: var(--font-size-h5);
    }
    
    h6 {
    font-weight: var( --font-weight-regular);
    font-size: var(--font-size-h6);
    }



  /* *********************************** */
  /* ************* MISCELLANEOUS ************** */
  /* *********************************** */
    
   /* p {
      max-width: 72ch;
    } */

    section {
        color: var(--color-text);
        padding-bottom: 1rem;
    }

    
/* *********************************** */
/* ************* HEADER ************** */
/* *********************************** */
/* see header.css in header components */


/* *********************************** */
/* ************* MAIN ************** */
/* *********************************** */

/* see content.css in content components */

/* *********************************** */
/* ************* FOOTER ************** */
/* *********************************** */
/* see footer.css in footer components */



/********  FLUID TYPOGRAPHY ***********/ 
@media screen and (min-width: 320px) {
  html {
    font-size: 14px;
  /* font-size: var(--font-size-mobile);*/
  }
}
@media screen and (min-width: 1440px) {
  html {
    /*font-size: 18px; */
    /*font-size: var(--font-size-desktop);*/
    font-size: calc(16px + 2 * ((100vw - 320px) / 680));
  }
}

a {
  color: var(--color-link-normal);
}

a:active {
  color: var(--color-link-active);
}

a:hover {
  color: var(--color-link-hover);
}

a:visited {
  color: var(--color-link-normal)
}


