/***** THESE ARE NOT FINAL **************/


:root {

    /**************** BREAKPOINTS ****************/
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;


  
    /**************** TYPOGRAPHY ****************/

    --font-family-body: "Cantarell", "Segoe UI", "Helvetica Neue", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-headings: "Fjalla One", "Segoe UI", "Helvetica Neue", Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
    /* Base size: 16px */
    /* Scale: 1.333 Perfect Fourth */
    --font-size-xxxxx-large: 7.478rem; /* 119.66px */
    --font-size-xxxx-large: 4.209rem; /* 67.35px */
    --font-size-xxx-large: 3.157rem; /* 50.51px */
    --font-size-xx-large: 2.369rem; /* 37.9px */
    --font-size-x-large: 1.777rem; /* 28.43px */
    --font-size-large: 1.333rem; /* 21.33px */
    --font-size-medium: 1rem; /* 16px */
    --font-size-small: 0.75rem; /* 12px */
    --font-size-x-small: 0.563rem; /* 9px */
    --font-size-xx-smal: 0.422rem; /* 6.76px */
  
    --font-size-h1: var(--font-size-xx-large);
    --font-size-h2: var(--font-size-x-large);
    --font-size-h3: var(--font-size-large);
    --font-size-h4:  var(--font-size-medium);
    --font-size-h5: var(--font-size-small);
  
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  
    /**************** CORE COLOR PALETTE ****************/

    --color-white: #ffffff;
    --color-black: #000000;

    --color-neutral: #f9faf5;
    --color-primary: #000a38; /*#174396*/
    --color-secondary: #99cc33;
    --color-tertiary: #c0ef4d;
    --color-alert: red;



/**************** TEXT ****************/
    --color-text: var(--color-primary);

 /**************** LINKS ****************/
 /* Content links not nav bar links */
    --color-link-normal: var(--color-primary);
    --color-link-hover: var(--color-tertiary);
    --color-link-visited: var(--color-primary);
    --color-link-active: var(--color-tertiary);
  
 /**************** BORDER RADIUS ****************/
    --size-border-radius-full: 50%;
    --size-border-radius-small: 1px;
    --size-border-radius-medium: 4px;
    --size-border-radius-large: 80px;
  



  
 /**************** SPACING ****************/
    --spacing-xx-sm: 0.25rem;
    --spacing-x-sm: 0.5rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.25rem;
    --spacing-x-lg: 1.5rem;
    --spacing-xx-lg: 1.75rem;
    --spacing-xxx-lg: 2rem;






  }
  