/***** THESE ARE NOT FINAL **************/


:root {

    /**************** BREAKPOINTS ****************/
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;


  
    /**************** TYPOGRAPHY ****************/

    --font-family-body: "Cantarell", "Segoe UI", "Helvetica Neue", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-headings: "Fjalla One", "Segoe UI", "Helvetica Neue", Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
    /* Base size: 16px */
    /* Scale: 1.333 Perfect Fourth */
    --font-size-xxxxx-large: 7.478rem; /* 119.66px */
    --font-size-xxxx-large: 4.209rem; /* 67.35px */
    --font-size-xxx-large: 3.157rem; /* 50.51px */
    --font-size-xx-large: 2.369rem; /* 37.9px */
    --font-size-x-large: 1.777rem; /* 28.43px */
    --font-size-large: 1.333rem; /* 21.33px */
    --font-size-medium: 1rem; /* 16px */
    --font-size-small: 0.75rem; /* 12px */
    --font-size-x-small: 0.563rem; /* 9px */
    --font-size-xx-smal: 0.422rem; /* 6.76px */
  
    --font-size-h1: var(--font-size-xx-large);
    --font-size-h2: var(--font-size-x-large);
    --font-size-h3: var(--font-size-large);
    --font-size-h4:  var(--font-size-medium);
    --font-size-h5: var(--font-size-small);
  
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

     /**************** BORDER RADIUS ****************/
     --size-border-radius-full: 50%;
     --size-border-radius-small: 1px;
     --size-border-radius-medium: 4px;
     --size-border-radius-large: 8px;
   
    /**************** CORE COLOR PALETTE ****************/

    --color-white: #ffffff;
    --color-black: #000000;

    --color-neutral: #fafaf9; /* #f7f8ed; /* #f9faf5;*/
    --color-primary: #213345;
    --color-secondary: #26475D;
    --color-tertiary: #767576;
    --color-alert: red;
    --color-neutral-light: #dddddd; /*#cecccd; /* #6B6E70;*/
    --color-neutral-medium: #d1d0d1; /* #a5a4a5; /*#959595; /*#767576; /* #474B4F;*/
    --color-neutral-dark: #393939; /* #222629;*/


 /**************** BUTTON PRIMARY ****************/
--color-button-background-primary-normal: var(--color-primary);
--color-button-background-primary-hover: var(--color-tertiary);
--color-button-background-primary-active: var(--color-secondary);
--color-button-background-primary-disabled: var(--color-neutral);

--color-button-text-primary-normal: var(--color-neutral);
--color-button-text-primary-hover: var(--color-neutral);
--color-button-text-primary-active: var(--color-neutral);
--color-button-text-primary-disabled: var(--color-primary);


/**************** LINKS ****************/
 /* Content links not nav bar links */
 --color-link-normal: var(--color-primary);
 --color-link-hover: var(--color-tertiary);
 --color-link-visited: var(--color-primary);
 --color-link-active: var(--color-tertiary);

 /**************** SPACING ****************/
    --spacing-xx-sm: 0.25rem;
    --spacing-x-sm: 0.5rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.25rem;
    --spacing-x-lg: 1.5rem;
    --spacing-xx-lg: 1.75rem;
    --spacing-xxx-lg: 2rem;



/**************** TEXT ****************/
--color-text: var(--color-primary);


/**************** BOX SHADOW ****************/
--box-shadow-option-1: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1)




  }
  